body{
    background-color: rgb(14, 14, 14);
}
.nav{
    background-color: rgb(29, 28, 28);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon{
    color: white;
}
a{
    margin: 20px;
    color: white;
    list-style: none;
    text-decoration: none;
}
h4{
    margin: 20px;
}
ul {
    list-style: none;
    color: white; 
  }

